body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.error-ms{
  top:0;
  margin:10px;
  padding:10px;
  color:white;
}

.footer{
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.logo-admin{
  margin-top:5px;
  margin-left: 2%;
  max-width: 420px;
  max-height: 100%;
}
.login{
  margin-top: 18%;
}

.logo-login{
  position: relative;
  width: 150px;
  height: 150px;
  margin-top: -85px;
  left: 33%;
}
.menu{

  height: 100%;
}

.username{
  font-weight: bold;
}
.titulo{
  font-size: 1.5em;
}
.subtitulo{
  font-size: .8em;
}
.senasistencia{
  font-weight: bold;
}
/*
.bounceInLeft{

  -webkit-animation-delay: 5s !important;
}
*/




.bounceOutLeft{
  -webkit-animation-delay: 1.5s !important;
}

.zoomIn{
  -webkit-animation-duration: 0.2s !important;
}