
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
.azul{
  background-color: #238276;
}
.verde{
  background-color: rgb(89,181,72);
}
.borde{
  border:1px solid red;
}
.formulario{
  margin:20px;
  padding: 200px;
}
.margen{
  margin-top: 20px;
}
.error-ms{
  top:0;
  margin:10px;
  padding:10px;
  color:white;
}

.footer{
  position: absolute;
  bottom: 0;
  margin: 20px;
}

.logo-admin{
  margin-top:5px;
  margin-left: 2%;
  max-width: 420px;
  max-height: 100%;
}
.logo-h{
margin-top: 5px;
  margin-left: 2%;
  max-width: 420px;
  max-height: 70%;
}

.hoverL:hover{
background-color: rgba(255, 255,255, .2)
}

.fuente{
  font-size: 1em !important;
}

.login{
  margin-top: 18%;
}

.logo-login{
  position: relative;
  width: 150px;
  height: 150px;
  margin-top: -85px;
  left: 33%;
}
.menu{

  height: 100%;
}
.oculto{
  display: none;
}
.username{
  font-weight: bold;
}
.titulo{
  font-size: 1.5em;
}
.tarjetaF{
  height: 120px;
  font-size: 3em;
  padding: 10%;
}

.subtitulo{
  font-size: .8em;
}
.senasistencia{
  font-weight: bold;
}
/*
.bounceInLeft{

  -webkit-animation-delay: 5s !important;
}
*/


.bounceOutLeft{
  -webkit-animation-delay: 1.5s !important;
}

.zoomIn{
  -webkit-animation-duration: 0.2s !important;
}

/*colir de el swtch*/

.switch label input[type=checkbox]:checked+.lever {
  background-color: #fa3;
}

.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #ef6c00;
}