.footer{
  position: absolute;
  bottom: 0;
  margin: 20px;
}
.hover-blanco:hover{
  background-color: rgba(255, 255,255, 0.1)
}
.logo-admin{
  margin-top:5px;
  margin-left: 2%;
  max-width: 420px;
  max-height: 100%;
}
.login{
  margin-top: 18%;
}

.logo-login{
  position: relative;
  width: 150px;
  height: 150px;
  margin-top: -85px;
  left: 33%;
}
.menu{

  height: 100%;
}

